/*====================================
SCROLL REVEAL
====================================*/

.reveal{

    opacity:0;

    transform:translateY(60px);

    filter:blur(10px);

    transition:

    opacity .8s ease,

    transform .8s ease,

    filter .8s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

    filter:blur(0);

}